{% extends 'base.html' %}
{% block container %}
  

     
      <div class="container">
       
      
        <br>
        <h2 class="btn btn-primary" style="width: 100%; color: white; font-weight: 700; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif"> ADD New Todo</h2>
        
        <form method="post" action="/" >
        <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">Todo Title</label>
            <input type="text" name="title"  class="form-control" id="title" placeholder="Enter Title">
          </div>
          <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">description</label>
            <input type="text" name="desc" class="form-control" id="desc" placeholder="Enter description">
          </div>
          <div class="col-12">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="gridCheck">
              <label class="form-check-label" for="gridCheck">
                Check me out
              </label>
            </div>
          </div>
          <br>
          <div class="col-12">
            <button type="submit" class="btn btn-success" style="width: 200px;">Submit</button>
          </div>
        </form>
        <br>
       
          <br><br>
          {% if status=='1' %}
          <div class="alert alert-danger" role="alert" style="text-align: center;">
            Deleted Successfully
          </div>
          {% elif status=='2' %}
          <div class="alert alert-warning" role="alert" style="text-align: center;">
            Updated Successfully
          </div>
          {% endif %}
          <br>
          <div class="row">
            <div class="col-8">
          <h3  class="btn btn-info" style="width: 600px; font-weight: 600; color:whitesmoke ;">TODO List</h3> 
        </div> <div class="col-4"> <input class="form-control me-2" type="search" id="searchInput" placeholder="Search" aria-label="Search">
        </div>
      </div>
          <table class="table">
        <thead>
          <tr>
            <th scope="col">Sl_No</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Time</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody id="tableBody">
         
          <tr>
            {% if alltodo|length==0 %}
        <td colspan="5" style="text-align: center;"> <div class="alert alert-danger" role="alert">
          No Record Found
        </div></td>
          {% else %}
            
         
          {% for todo in alltodo %}
            <th scope="row">{{todo.sno}}</th>
            <td>{{todo.title}}</td>
            <td>{{todo.desc}}</td>
            <td>{{todo.date_created}}</td>
            <td>
              <a href="/delete/{{todo.sno}}"><button type="button" class="btn btn-outline-danger">Delete</button></a>
              <a href="/update/{{todo.sno}}"><button type="button" class="btn btn-outline-warning">Update</button></a>
            </td>
          </tr>
         {% endfor %}
         {% endif %}
        </tbody>
      </table>
      </div>

      {% endblock container %}
